/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #E8D8C4;

}

.h2,.white{
    color: #E8D8C4;
}

.a{
    color: #E8D8C4;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 9vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 6vh;
    width: 70%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: inline;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    transition: font-weight  0.2s;
}
/* animations / utilities */
.section-2 a:hover{
    /* font-size: 22px; */
    font-weight: bold;
    color: #E8D8C4;
    cursor: pointer;
}

.section-1 a:hover{
    color: #E8D8C4;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

.btn{
    height: 55px;
    width: 200px;
    margin: 12px 0px 12px 0px;
    padding: 10px 5px 10px 5px;
    /* padding: 20px; */
    border: 5px solid #E8D8C4;
    background-color: #6D2932;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    /* box-shadow: #7A7C80; */
    color: #E8D8C4;
    cursor: pointer;
    display: inline;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #8e4851;
}

img{
    border: 10px solid #C7B7A3;
}

footer{
    /* margin: 50px; */
    margin-top: 50px;
    color: #561C24;
    padding: 50px;
    background-color: #E8D8C4;
}

a {
    color: #E8D8C4;
}